# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Model checkpoints and large files
models/
*.pt
*.pth
*.h5

# Data files
data/raw/en
data/raw/audio.mp3
data/raw/en.zip
data/raw/slang_OpenSub.tsv
data/raw/slang_OpenSub_meta.tsv
data/raw/slang_OpenSub_negatives_meta.tsv
data/raw/slang_OpenSub_negatives.tsv
data/raw/urbandict-word-defs.csv
data/processed/text/sample.json
data/processed/text/test.json
data/processed/text/train.json
data/processed/text/val.json

# Draft Files or on the process file
data/processed/text/dataset_preparation.pdf
data/processed/text/dataset_preparation.html 
scripts/train_text_model_1.ipynb
scripts/train_text_model.py

# Exception for the lookatdata notebook


# Logs
logs/
*.log
daily-logs/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/



## Unfinished files 
notebooks/exploration/api_slang_detection.ipynb
notebooks/exploration/bert_slang_detection.ipynb

# Proposal 
Proposal/CPSC577_Lingo_Proposal_v2_20250405.docx
